.inputError {
  padding-left: 10px;
}
.actions {
  height: 30px;
  .btn {
    float: right;
  }
}

input.long, textarea {
  width: 500px;
}

.nomination, .application {
  div.input {
    margin-left: 0px;
  }
  label {
    float: none;
  } 
}


