.inputError {
  padding-left: 10px;
}
.actions {
  height: 30px;
  .btn {
    float: right;
  }
}

input.long, textarea {
  width: 500px;
}

ul.choices {
  list-style: none;
  div.input {
    margin-left: 0px;
  }
  label {
    float: none;
  } 
}

ul.questions {
  list-style: none;
  
  .number {
    float: left;
    padding-right: 10px;
    font-size: 1.2em;
    font-weight: bold;
  }
  .text {
    font-size: 1.2em;
  }

  .error {
    color: red;
    font-weight: bold;
  }
  
  label {
    float: none;
  }
  .question {
    margin-bottom: 60px;
  }
}
.actions {
  padding-left: 30px;
}
