.page-header {
  .user-panel {
    float:right;
  }  
}
.logo {
  width: 220px;
  float: left;
  margin-right: 30px;
}
.header h1 {
  padding-top: 15px;
  margin-bottom: 0px;
}

.container-fluid .sidebar {
  clear: both;
}
