- content_for :sidebar do
  %h2 Admin Panel
  %ul.unstyled
    %li= link_to "Manage Surveys", admin_surveys_path
    %li= link_to "Manage Site Content", admin_content_index_path
    %li= link_to "Manage Admins", admin_users_path
= render :template => 'layouts/application'
